
.topBanner {
  background-color: #000C2D;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 41px;
  height: 100px;
  width: 100%;
  margin: 10px;
  margin-right: 10px;
}

.topBannerTitle {
  font-family: Calibri, sans-serif;
  font-size: 28px;
  color: white; 
}

.mainCanvasOuterContainer {
  display: flex;
  flex-direction: row; 
  height: calc(100% - 100px); 
  width: 100%;
  margin: 10px;
}

.mainCanvasInnerLeftRowContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  border: 4px;
  border-color: black;
  color: black;
}

.mainCanvasInnerLeftRowContainerItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.formInputFields {
    background-color: white;
    color: black;
    
}

.formSubmitButton {
    background-color: #000C2D;
    color: white;
}


.mainCanvasInnerRightVizContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  gap: 20px;
}

.mainCanvasInnerRightVizContainerItem {
    width: 100%;
}

.mainCanvasInnerRightVizTableItem {
    color: black;
    width: 100%;
    border: 1px;
    padding: 5px;
    border-collapse: collapse;
    margin-top: 10px;
}

